*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
.container {
    max-width: 80%;
    padding: 34px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;   /* centers h1, p, form */
}

 

.container h1, p{
    text-align: center;
}
p{
    font-size: 17px;
}
.submitSmg{
    font-size: 25px;
    color: #129e0c;
}
input, textarea{
    
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    background: purple;
    color: white;
    padding: 8px 10px;
    font-size: 20px;
    border: 2px white solid;
    border-radius: 14px;
    cursor: pointer;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1; 
}